<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edu.mapper.RoomMapper">
	<select id="getRoomList" resultType="com.hotel.vo.Room" >
		select a.roomcode, a.name, b.name as "type_name", a.howmany, a.howmuch 
			from room a, roomtype b
			where a.type = b.typecode
			order by roomcode
	</select>
	<select id="getRoomType" resultType="com.hotel.vo.Room">
		select typecode as "type_typecode", name as "type_name"
			from roomtype
			order by typecode
	</select>
	
	<delete id="doDeleteRoom">
		delete from room where roomcode = #{roomcode}
	</delete>
	
	<insert id="doAddRoom">
		insert into room (roomcode, name, type, howmany, howmuch) 
					values (seq_room.nextval, #{name}, #{type}, #{howmany}, #{howmuch})
	</insert>
	
	<update id="doUpdateRoom">
		update room set name = #{name}, type = #{type}, howmany = #{howmany}, howmuch = #{howmuch}
			where roomcode = #{roomcode}
	</update>
	
</mapper>

