<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hotel.mapper.RoomMapper">
	<select id="getRoomList" resultType="com.hotel.vo.Room" >
		select a.roomcode, a.name, b.name as "type_name", a.howmany, a.howmuch 
			from room a, roomtype b
			where a.type = b.typecode
			order by roomcode
	</select>
	<select id="getRoomType" resultType="com.hotel.vo.Room">
		select typecode as "type_typecode", name as "type_name"
			from roomtype
			order by typecode
	</select>
	
	<delete id="doDeleteRoom">
		delete from room where roomcode = #{roomcode}
	</delete>
	
	<insert id="doAddRoom">
		insert into room (roomcode, name, type, howmany, howmuch) 
					values (seq_room.nextval, #{name}, #{type}, #{howmany}, #{howmuch})
	</insert>
	
	<update id="doUpdateRoom">
		update room set name = #{name}, type = #{type}, howmany = #{howmany}, howmuch = #{howmuch}
			where roomcode = #{roomcode}
	</update>
	
	<select id="getSearchRooms" resultType="com.hotel.vo.Room" >
		select *
		from
		(
		select a.roomcode roomcode, a.name name, c.name type_name, a.howmuch howmuch, a.howmany howmany
		    from room a, booking b, roomtype c
		    where a.type = c.typecode
		    and a.roomcode = b.roomcode(+)
		minus
		select a.roomcode roomcode, a.name name, c.name type_name, a.howmuch howmuch, a.howmany howmany
		    from room a, booking b, roomtype c
		    where a.roomcode = b.roomcode
		    and a.type = c.typecode
		    and
		    (
			    (
				    to_date(#{checkin}) between to_date(b.checkin) and to_date(b.checkout) -1
				    or 
				    to_date(#{checkout}) between to_date(b.checkin) +1 and to_date(b.checkout)
			    )
			    or 
			    (
				    to_date(b.checkin) between to_date(#{checkin}) and to_date(#{checkout}) -1
				    or 
				    to_date(b.checkout) between to_date(#{checkin}) +1 and to_date(#{checkout})
			    )
			)
		    
		    group by a.roomcode, a.name, c.name, a.howmuch, a.howmany
		) a
		<if test="!name.equals('all')">
		where a.type_name = #{name}
		</if>
		    
	</select>
	
</mapper>

